html {
  margin: 0;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}
body {
  background: white;  /* fallback for old browsers */
}

.container {
  width: 70%;
  margin: 0 auto;
}

.message-box {
  margin: 50px 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.name {
  padding: 5px;
  background: #66ccff;
}
.message {
  padding: 5px;
}
.tooltiptext {
  padding: 0 5px;
  color: white;
  display: none;
  background: white;
  border-radius: 5px;
  transition: 0s background-color;
}
#button-tooltip:hover .tooltiptext{
  background-color:black;
  transition-delay:1s;
  display: inline-block;
}
